.idea
.vscode
**/__pycache__/
logs/**
results
apks/apks_info.json
sootOutput
**/node_modules/
output/**
output*
**/out
archive
**/target
.venv
manual
src/hookscript/origin.js
test/system_traffic_blacklist.txt
test/config.py
archive
apks/README.md